* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(228, 12, 91);
}

h1 {
    color: white;
    margin-bottom: 1rem;
    text-align: center;
}

.container {
    background-color: white;
    width: 80%;
    margin: auto;
    border-radius: 20px ;
}

.row {
    display: flex;
    text-align: center;
    padding-top: 40px;
}

.userInfo {
    margin: auto;
}

.col-4 {
    width: calc(100% / 12 *4);
}

label {
    display: block;
    color: rgb(228, 12, 91) ;
    border-color: rgb(228, 12, 91);
}

.generate {
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    line-height: 7;
}

button {
    margin: 5px;
}